<div [@flyInOut]="'in'" [ngClass]="{'pointer-events-none': isPointerDragging}" class="draggable-panel"
  [style.left.px]="left" [style.top.px]="top" [style.width.px]="width" [style.height.px]="height"
  [draggable.stack]="'.draggable-panel'" [resizable.stack]="'.draggable-panel'" appDraggable appResizable #draggablePanel>
  <div class="title">
    <div class="title-text">{{panelService.title}}</div>
    <div class="title-button" *ngIf="showTitleButtons">
      <!-- ----- MODIFICATION START (kunyatta) for PanelMinimize ----- -->
      <button (click)="toggleMinimize()">
        <i class="material-icons" style="font-size: 14px">{{ isMinimized ? 'crop_din' : 'remove' }}</i>
      </button>
      <!-- ----- MODIFICATION END (kunyatta) for PanelMinimize ----- -->
      <button (click)="toggleFullScreen()"><i class="material-icons" style="font-size: 14px;">fullscreen</i></button>
      <button (click)="close()"><i class="material-icons" style="font-size: 14px;">close</i></button>
    </div>
  </div>
  <!-- ----- MODIFICATION START (kunyatta) for PanelMinimize ----- -->
  <div class="scrollable-panel" [style.display]="isMinimized ? 'none' : ''" #scrollablePanel>
  <!-- ----- MODIFICATION END (kunyatta) for PanelMinimize ----- -->
    <ng-content></ng-content>
    <div #content></div>
  </div>
</div>
